/*
I had a hell of a time trying to get everything lined up and centered - the inline-block property helped me a lot (had to get rid 
	of all the floaters). The DIVs should be pretty self-explanatory as to what part they are modifying
	http://alistapart.com/article/css-positioning-101 <<< This article helped me a lot
	*/

body {
	position: relative;
	text-align: center;
	align-items: center;
	background-color: lightyellow;
	align-content: center;
}
#welcome {
	position: relative;
	top: 0;
	left: 0;
	right: 0;

}
#buttons {
	position: relative;

	top: 5px;
}
.buttons {
	margin:auto;
	position: relative;
	width: 280px;
	background-color: grey;
	border: solid black;
	display: inline-block;
	text-align: center;
}

.activebutton {
	color: red;
}

#colorspace {
	position: relative;
	clear: both;
	width: 700px;
	height: 700px;
	margin: auto;
	top: 10px;
	background-color: white;
	border: 60px ridge red;
}
.colorblock {
	float: left;
}
#leftknob{
	position: absolute;
	bottom:-40px;
	left: -40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	background-color: white;
}
#rightknob{
	position: absolute;
	bottom:-40px;
	right: -40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	background-color: white;
}
.initgrey {

}

ol {
	list-style-type: none;
	background-color: grey;
}

li{

	display: inline-block;
}

li button {
	position: relative;
	left: -20px;
	display: block;
	color: white;
	padding: 2px;
	background-color: black;
}